<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4d57e">  <td>23/12/13 23:40:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_tc1.executor()[pri:0, instance:Test_package.patch_tc1@345f69f3]">executor</td> 
  <td>main@1374217958</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/13 23:40:55</td>   <td>5211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_tc1.executor()[pri:0, instance:Test_package.put_tc1@3697186]">executor</td> 
  <td>main@1374217958</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/13 23:40:53</td>   <td>2782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@36cda2c2]">executor</td> 
  <td>main@1374217958</td>   <td></td> </tr>
</table>
